<app-header></app-header>
<ion-content>
<ion-grid>

  <ion-card class="transparent-card">
    <ion-card-content>
      <ion-row class="ion-text-center">
        <ion-col size="12" size-sm="12">


          <h1>Contact Us</h1>


    </ion-col>

    </ion-row>
    </ion-card-content>
  </ion-card>


<form #form="ngForm" (ngSubmit)="onSubmit(form)">

  <ion-card class="transparent-card">
    <ion-card-content>
      <ion-row>

        <ion-col size="12" class="ion-no-padding">
          <ion-input type="text" ngModel name="subject" value="" placeholder="Subject" required #subjectCtrl="ngModel"></ion-input>
          <ion-item *ngIf="!subjectCtrl.valid && subjectCtrl.touched" lines="none" class="errorMsg">
            <ion-label>Please enter subject</ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="12" class="ion-no-padding">
          <ion-textarea rows="5" ngModel name="message" value="" placeholder="Message" required  #msgCtrl="ngModel"></ion-textarea>
          <ion-item *ngIf="!msgCtrl.valid && msgCtrl.touched" lines="none" class="errorMsg">
            <ion-label>Please enter your message</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-button type="submit"  class="ion-text-center" [disabled]="!form.valid">Submit</ion-button>
    </ion-card-content>
  </ion-card>


</form>

<ion-img src="../../assets/images/contact-us.png"></ion-img>
</ion-grid>
</ion-content>
<app-footer></app-footer>
