<ion-header>
  <ion-toolbar>
    <ion-thumbnail slot="start" class="header-icons">
      <ion-img src="../../assets/01-04.png"></ion-img>
    </ion-thumbnail>
      <ion-img src="../../assets/images/logo.jpg" class="header-logo"></ion-img>
    <ion-thumbnail slot="primary" class="header-icons">
      <ion-img src="../../assets/search-icon.png"></ion-img>
    </ion-thumbnail>

    <ion-thumbnail slot="primary" class="header-icons">
      <ion-img src="../../assets/bellicon.png"></ion-img>
    </ion-thumbnail>
    <ion-thumbnail slot="primary" class="header-icons">
      <ion-img src="../../assets/01-02.png"></ion-img>
    </ion-thumbnail>
    <ion-button slot="primary" class="drawer-menu">
      <ion-menu-button >
        <img src="../../assets/01-03.png" >
      </ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-card>
      <ion-card-header class="ion-text-center">
        <ion-title>Who we are...
        </ion-title>
      </ion-card-header>
      <ion-card-content>
        <p>Mytek Innovations Private Limited provides reliable service and quality solutions catering to all types of Engineering and IT-ITES Consultancy services. We attribute our success to building strategic partnership and treating customers the way we want to be treated. To keep pace with today’s fast growing innovative business climate, we strive to remain on the cutting edge of service providers by using the latest technology.

        </p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header class="ion-text-center">
        <ion-title>What we do...

        </ion-title>
      </ion-card-header>
      <ion-card-content>
        <p>We cater to address the major customer needs in our targeted markets with the wide spectrum of engineering, IT-ITES consultancy services to both public and private infrastructures. We support our customers to achieve their target in the most economical and productive way.



        </p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header class="ion-text-center">
        <ion-title>What we have...

        </ion-title>
      </ion-card-header>
      <ion-card-content>
        <p>A vast knowledge in many industries especially in public sector engineering and IT-ITES together with several applications backed with products from reputable partners.

        </p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header class="ion-text-center">
        <ion-title>How we function...

        </ion-title>
      </ion-card-header>
      <ion-card-content>
        <p>Understanding the real customer need is the key of our solutions, be it a full system design implementation or a simple solar set up.

        </p>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
