

<ion-content>

  <ion-row>
    <ion-col size="12">
      <div class="ion-text-center"  *ngIf="isLoading">
        <ion-spinner color="primary"></ion-spinner>

      </div>
    </ion-col>
  </ion-row>

  <ion-grid  *ngIf="!isLoading">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">

    <ion-row  class="text-align-center">

      <ion-col size="12" size-sm="12">
        <ion-card class="curve-borders">
          <ion-card-header >
              <div ><ion-img src="../assets/images/logo.jpeg"></ion-img></div>
          </ion-card-header>

        </ion-card>
        <ion-card size-md="12" size-sm="12" class="login-container">

          <ion-card-content>
            <ion-item>
              <!-- <ion-label position="floating"><ion-icon name="mail-outline" slot="start"></ion-icon>
                Email Address</ion-label> -->
                <ion-icon name="mail-outline" size="small" color="dark" slot="start"></ion-icon>

              <ion-input type="text" ngModel name="email" id="email" placeholder="Email Address" required email #emailCtrl="ngModel" autocomplete="off"></ion-input>
            </ion-item>
            <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched" lines="none" class="item-text-wrap errorMsg">
              <ion-label>Please enter valid email address</ion-label>
            </ion-item>
            <ion-item>
              <!-- <ion-label position="floating"><ion-icon name="lock-closed-outline" slot="start"></ion-icon> Password</ion-label> -->
              <ion-icon name="lock-closed-outline" size="small" color="dark" slot="start"></ion-icon>

              <ion-input type="password" ngModel name="pwd" id="pwd" placeholder="Password" required minlength="8" #pwdCtrl="ngModel" autocomplete="off"></ion-input>
            </ion-item>
            <ion-item *ngIf="!pwdCtrl.valid && pwdCtrl.touched" lines="none" class="errorMsg">
              <ion-label>Password should be minimum 8 character long</ion-label>
            </ion-item>
            <ion-button type="submit" [disabled]="!f.valid">{{ isLogin ? 'Login': 'Signup'}}</ion-button>

          </ion-card-content>

        </ion-card>

        <ion-card class="transparent-card">
          <ion-card-content color="light" class="ion-text-center ">
            <h2>  New User?</h2>
            <ion-button expand="full" routerLink="/signup" fill="clear">Signup!</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </form>

  </ion-grid>
</ion-content>
