<ion-header>
  <ion-toolbar>
    <ion-thumbnail slot="start" class="header-icons" [routerLink]="['/', 'profile']">
      <ion-img src="../../assets/01-04.png"></ion-img>
    </ion-thumbnail>
      <ion-img src="../../assets/images/logo.jpg" class="header-logo"></ion-img>
    <ion-thumbnail slot="primary" class="header-icons">
      <ion-img src="../../assets/search-icon.png"></ion-img>
    </ion-thumbnail>

    <ion-thumbnail slot="primary" class="header-icons">
      <ion-img src="../../assets/bellicon.png"></ion-img>
    </ion-thumbnail>
    <ion-thumbnail slot="primary" class="header-icons">
      <ion-img src="../../assets/01-02.png"></ion-img>
    </ion-thumbnail>
    <ion-button slot="primary" class="drawer-menu">
      <ion-menu-button >
        <img src="../../assets/01-03.png" >
      </ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>
