ion-slides {
  height: 100%;
}

.bg-1 {
  // background-color: #00acc1;
  background-image: url('../../assets/images/slides/slide1.jpeg');
  background-size: cover;
}
.bg-2 {
  // background-color: #fbc02d;
  background-image: url('../../assets/images/slides/slide2.jpeg');
  background-size: cover;
}
.bg-3 {
  // background-color: #7cb342;
  background-image: url('../../assets/images/slides/slide3.jpeg');
  background-size: cover;
}

.bg-4 {
  // background-color: #7cb342;
  background-image: url('../../assets/images/slides/slide4.jpeg');
  background-size: cover;
}

ion-footer{
  background-color: #FAFBFD;
  text-align: center;

}

ion-footer::before{
  background-image: none;
}

ion-toolbar{
  --background: #FAFBFD;
}
