<app-topbar></app-topbar>

<ion-content >

  <ion-row>
    <ion-col size="12">
      <div class="ion-text-center"  *ngIf="isLoading">
        <ion-spinner color="primary"></ion-spinner>

      </div>
      <div class="ion-text-center" *ngIf="!isLoading && Milestones.length <= 0">

      <p > No Milestones Found !</p>
      </div>
    </ion-col>
  </ion-row>

  <ion-grid class="ion-no-padding"  *ngIf="!isLoading && Milestones.length > 0">


  <ion-card class="btn-grad">
    <ion-card-header><h2>{{tender.name}}</h2></ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="12">
          <strong>Category: </strong>{{tender.category}}
          <hr>
        </ion-col  >
        <ion-col size=12>
          <ion-label><strong>Work Locations: </strong></ion-label>
          <div *ngFor="let loc of tender.work_location ">
          <p>    <strong>State: </strong>{{loc.state}} </p>
          <p>    <strong>Districts: </strong>{{loc.districts}} </p>
          <p>    <strong>Talukas: </strong>{{loc.talukas}} </p>
          <hr>
        </div>
        </ion-col>
        <ion-col size=12>
          <strong>Scope of work: </strong>{{tender.scope}}
        </ion-col  >

      </ion-row>


    </ion-card-content>
  </ion-card>


    <ion-card class="transparent-card">
      <ion-card-content>
        <ion-row>
          <ion-col size="6" size-sm="6">


            <h1> Milestones</h1>


      </ion-col>
      <ion-col size="6" class="ion-text-right">
        <ion-button color="primary" [routerLink]="['/', 'submit-report', tender_id]" >Report</ion-button>
      </ion-col>
      </ion-row>
      </ion-card-content>
    </ion-card>



    <ion-card class="btn-grad"  *ngFor="let row of Milestones" >
      <ion-card-content>
        <ion-row >
          <ion-col size="12" size-sm="12" >
             <h2>{{row.name}}</h2>
              <p>{{row.from_date}} To {{row.to_date}}</p>
            </ion-col>


        </ion-row>
      </ion-card-content>
    </ion-card>


  </ion-grid>
</ion-content>
<app-footer></app-footer>
