<app-topbar></app-topbar>

<ion-content>

  <ion-row *ngIf="isLoading">
    <ion-col size="12">
      <div class="ion-text-center">
        <ion-spinner color="primary"></ion-spinner>
      </div>
    </ion-col>
  </ion-row>
  <ion-grid>

    <ion-card class="transparent-card">
      <ion-card-content>
        <ion-row class="ion-text-center">
          <ion-col size="12" size-sm="12">
            <h1>Registration Form</h1>
          </ion-col>

        </ion-row>
      </ion-card-content>
    </ion-card>


    <form [formGroup]="form" (ngSubmit)="onSubmit()" enctype="multipart/form-data">

      <ion-card class="transparent-card">

        <ion-card-content>
          <ion-row>

            <ion-col size="12" class="ion-no-padding">
              <ion-input type="text" formControlName="uname" value="{{uname}}" [readonly]="userStatus == 1" placeholder="Name *"></ion-input>

              <div class="errorMsg">
                <ng-container *ngFor="let error of error_messages.uname">
                  <div class="errorMsg" *ngIf="form.get('uname').hasError(error.type) && (form.get('uname').dirty || form.get('uname').touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>
            </ion-col>
            <ion-col size="12" class="ion-no-padding">
              <ion-input type="text" formControlName="company" [readonly]="userStatus == 1"  placeholder="Company Name *" value="{{cname}}"></ion-input>
              <div class="errorMsg">
                <ng-container *ngFor="let error of error_messages.company">
                  <div class="errorMsg" *ngIf="form.get('company').hasError(error.type) && (form.get('company').dirty || form.get('company').touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>
            </ion-col>


          </ion-row>
          <div>
            <h2>Address</h2>
            <br>

            <ion-row>
              <ion-col size="12" class="ion-no-padding">
                <ion-textarea col="6" formControlName="address" placeholder="Address *"></ion-textarea>
                <div class="errorMsg">
                  <ng-container *ngFor="let error of error_messages.address">
                    <div class="errorMsg" *ngIf="form.get('address').hasError(error.type) && (form.get('address').dirty || form.get('address').touched)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-col>

              <ion-col size="12" class="ion-no-padding">
                <ion-select [(ngModel)]="addstateValue"  formControlName="state" (ionChange)="onStateChange($event, 'address')">
                  <ion-select-option value="">Select State</ion-select-option>
                  <ion-select-option *ngFor="let state of states" [value]="state.id">{{state.name}}</ion-select-option>
                </ion-select>
                <div class="errorMsg">
                  <ng-container *ngFor="let error of error_messages.state">
                    <div class="errorMsg" *ngIf="form.get('state').hasError(error.type) && (form.get('state').dirty || form.get('state').touched)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-col>
              <ion-col size="12" class="ion-no-padding">
                <ion-select [(ngModel)]="adddistrictValue" formControlName="district" (ionChange)="onDistrictChange($event, 'address')">
                  <ion-select-option value="">Select District</ion-select-option>
                  <ion-select-option *ngFor="let dis of districts" [value]="dis.id">{{dis.name}}</ion-select-option>

                </ion-select>
                <div class="errorMsg">
                  <ng-container *ngFor="let error of error_messages.district">
                    <div class="errorMsg" *ngIf="form.get('district').hasError(error.type) && (form.get('district').dirty || form.get('district').touched)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-col>
              <ion-col size="12" class="ion-no-padding">
                <ion-select [(ngModel)]="addtalukaValue" formControlName="taluka">
                  <ion-select-option value="">Select Taluka</ion-select-option>
                  <ion-select-option *ngFor="let city of talukas" [value]="city.id">{{city.name}}</ion-select-option>
                </ion-select>
                <div class="errorMsg">
                  <ng-container *ngFor="let error of error_messages.taluka">
                    <div class="errorMsg" *ngIf="form.get('taluka').hasError(error.type) && (form.get('taluka').dirty || form.get('taluka').touched)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-col>
              <ion-col size="12" class="ion-no-padding">
                <ion-input type="text" formControlName="pincode"  value="{{pincode}}" placeholder="Pincode Number"></ion-input>
              </ion-col>


            </ion-row>


        </div>
<!-- [checked]="interested.indexOf(item.name) >= 0" -->
          <div *ngIf="!isLoading">
            <h2>Area of Interest *</h2>
            <br>
            <ion-row>
              <ion-col size="6" *ngFor="let item of areaOfInterst ">
                <ion-checkbox name="area_of_interst[]"
                  value="{{item.name}}" [checked]="area_of_interest != null && area_of_interest.indexOf(item.name) >= 0"  (click)="onSelect(item.name)"></ion-checkbox>
                <ion-label> {{item.name}}</ion-label>

              </ion-col>

              <ion-col size="6">
                <ion-checkbox name="area_of_interst[]" (click)="toggleOtherField()"></ion-checkbox>
                <ion-label> Other</ion-label>
              </ion-col>

            </ion-row>

            <ion-row *ngIf="toggleDisplay">
              <ion-col size="6">

              </ion-col>
              <ion-col size="6">
                <ion-textarea name="area_of_interst[]"></ion-textarea>
              </ion-col>
            </ion-row>
          </div>
          <h2>Preferred work location</h2>
          <br>
          <ion-row *ngIf="workLocations != null && workLocations.length > 0">
            <ion-card *ngFor="let item of workLocations;let i=index" class="location-card">
              <ion-card-header>
                <ion-icon color="primary" name="location-outline"></ion-icon>&nbsp;
                <ion-label>{{item.state}}</ion-label>
                <ion-icon color="danger" id="close" name="close-circle-outline" (click)="removeLocation(i)"></ion-icon>
              </ion-card-header>
              <ion-card-content>
                <span>Districts:&nbsp;</span>
                <ion-label *ngFor="let dist of item.district"> {{dist}},&nbsp;</ion-label><br>
                <span>Talukas:&nbsp;</span>
                <ion-label *ngFor="let tal of item.taluka">{{tal}},&nbsp;</ion-label><br>
              </ion-card-content>
            </ion-card>
          </ion-row>
          <ion-row>
            <ion-col size="12" class="ion-no-padding">
              <ion-select  name="work_state[]" (ionChange)="onStateChange($event, 'work_location')" placeholder="Select State">
                <ion-select-option value="">Select State</ion-select-option>
                <ion-select-option *ngFor="let state of states" [value]="state.id">{{state.name}}</ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col size="12" class="ion-no-padding">
              <ion-select multiple name="work_district[]" (ionChange)="onDistrictChange($event, 'work_location')" placeholder="Select District">
                <ion-select-option *ngFor="let dis of work_districts" [value]="dis.id">{{dis.name}}</ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col size="12" class="ion-no-padding">
              <ion-select multiple name="work_taluka[]" placeholder="Select Taluka" (ionChange)="onTalukaChange($event, 'work_location')" >
                <ion-select-option *ngFor="let city of work_talukas" [value]="city.id">{{city.name}}</ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col>
              <ion-button shape="round" expand="full" (click)="addPreferedLocation()">add</ion-button>
              <ng-container *ngIf="workLocationErr" class="errorMsg">

                Please select Altlest one work location
              </ng-container>
            </ion-col>
          </ion-row>
          <br>
          <div *ngIf="userStatus == 2">
          <ion-row>
            <h2>Documents</h2>
            <br>
            <ion-col size="3">
              <img [src]="imageUrl" height="30px" *ngIf="imageUrl">
            </ion-col>

            <ion-col size="3">
              <img [src]="RegimageUrl" height="30px" *ngIf="RegimageUrl">
            </ion-col>
            <ion-col size="3">
              <img [src]="PanimageUrl" height="30px" *ngIf="PanimageUrl">
            </ion-col>
            <ion-col size="3">
              <img [src]="AdhaarimageUrl" height="30px" *ngIf="AdhaarimageUrl">
            </ion-col>

          </ion-row>

          <ion-row>
            <ion-col size="8">
              <ion-input type="text" formControlName="gst_num" value="{{gst_num}}" placeholder="Enter GST Number">
              </ion-input>
              <div class="errorMsg">
                <ng-container *ngFor="let error of error_messages.gst_num">
                  <div class="errorMsg" *ngIf="form.get('gst_num').hasError(error.type) && (form.get('gst_num').dirty || form.get('gst_num').touched)">
                    {{ error.message }}
                  </div>
                </ng-container>

                <ng-container *ngIf="gstFileErr" class="errorMsg">

                  Please upload GST File
                </ng-container>
              </div>
            </ion-col>
            <ion-col size="4">

              <ion-fab vertical="bottom" horizontal="end">
                <input type="file" #fileInput (change)="uploadFile($event, 'gst_certificate')" hidden="true"
                  accept="image/*" />

                <ion-button (click)="selectImageSource('gst_certificate')">
                  Upload </ion-button>

                <ion-icon name="attach-outline" slot="primary"></ion-icon>
              </ion-fab>
            </ion-col>
            <ion-col>
              <ion-label>{{gst_certificate_File}}</ion-label>
            </ion-col>

          </ion-row>


          <ion-row>
            <ion-col size="8">
              <ion-input type="text" formControlName="pan_num" value="{{pan_num}}" placeholder="Pan Card Number">
              </ion-input>
              <div class="errorMsg">
                <ng-container *ngFor="let error of error_messages.pan_num">
                  <div class="errorMsg" *ngIf="form.get('pan_num').hasError(error.type) && (form.get('pan_num').dirty || form.get('pan_num').touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
                <ng-container *ngIf="PanFileErr" class="errorMsg">

                  Please upload pan card copy
                </ng-container>
              </div>
            </ion-col>
            <ion-col size="4">
              <ion-fab vertical="bottom" horizontal="end">
                <input type="file" #fileInput (change)="uploadFile($event, 'pan_card')" hidden="true"
                  accept="image/*" />
                <ion-button (click)="selectImageSource('pan_card')">
                  Upload </ion-button>
              </ion-fab>
            </ion-col>
            <ion-col>
              <ion-label>{{pan_card_File}}</ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="8">
              <ion-input type="text" formControlName="reg_num" value="{{reg_num}}"
                placeholder="Company Registration Number"></ion-input>
                <div class="errorMsg">
                  <ng-container *ngFor="let error of error_messages.reg_num">
                    <div class="errorMsg" *ngIf="form.get('reg_num').hasError(error.type) && (form.get('reg_num').dirty || form.get('reg_num').touched)">
                      {{ error.message }}
                    </div>
                  </ng-container>

                  <ng-container *ngIf="RegFileErr" class="errorMsg">

                    Please upload company registration document
                  </ng-container>
                </div>
            </ion-col>
            <ion-col size="4">
              <ion-fab vertical="bottom" horizontal="end">
                <input type="file" #fileInput (change)="uploadFile($event, 'reg_certificate')" hidden="true"
                  accept="image/*,application/pdf" />
                <ion-button (click)="selectImageSource('reg_certificate')">
                  Upload </ion-button>
              </ion-fab>
            </ion-col>
            <ion-col>
              <ion-label>{{reg_certificate_File}}</ion-label>
            </ion-col>
          </ion-row>


          <ion-row>
            <ion-col size="8">
              <ion-input type="text" formControlName="adhaar_num" value="{{adhaar_num}}" placeholder="Adhaar Number">
              </ion-input>
              <div class="errorMsg">
                <ng-container *ngFor="let error of error_messages.adhaar_num">
                  <div class="errorMsg" *ngIf="form.get('adhaar_num').hasError(error.type) && (form.get('adhaar_num').dirty || form.get('adhaar_num').touched)">
                    {{ error.message }}
                  </div>
                </ng-container>

                <ng-container *ngIf="adhaarFileErr"  class="errorMsg">

                  Please select Adhaar File
                </ng-container>
              </div>
            </ion-col>
            <ion-col size="4">
              <ion-fab vertical="bottom" horizontal="end">
                <input type="file" #fileInput (change)="uploadFile($event, 'adhaar_file')" hidden="true"
                  accept="image/*" />
                <ion-button (click)="selectImageSource('adhaar_file')">
                  Upload </ion-button>
              </ion-fab>

            </ion-col>
            <ion-col>
              <ion-label>{{adhaar_File}}</ion-label>
            </ion-col>
          </ion-row>
        </div>

        <div *ngIf="userStatus != 2">
          <ion-input type="hidden" formControlName="reg_num" value="{{reg_num}}"></ion-input>
          <ion-input type="hidden" formControlName="pan_num" value="{{pan_num}}"></ion-input>
          <ion-input type="hidden" formControlName="adhaar_num" value="{{adhaar_num}}"></ion-input>
          <ion-input type="hidden" formControlName="gst_num" value="{{gst_num}}"></ion-input>
        </div>
          <ion-button type="submit" expand="block" class="ion-text-center" [disabled]="!form.valid">Submit</ion-button>
        </ion-card-content>
      </ion-card>


    </form>
  </ion-grid>

</ion-content>
<app-footer></app-footer>
