.transparent-card{
  background: transparent;
  box-shadow: none;
  padding: 10px 0 0;
}

.transparent-card h2{
  font-size: 20px;
  font-weight: 600;
  color: #313469;

}

ion-content{
  --background: #eef1f4;
  background: #eef1f4;
}

ion-card{
  margin: 0;
  border-radius: 0;
  padding: 0;
}


.btn-grad {
  --background: linear-gradient(to right, #eae8ea 0%, rgb(255, 255, 255) 100%);
  margin: 0 20px;
  border-radius: 15px;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
  margin-bottom: 15px;
}
.btn-grad h2{
  font-size: 18px;
  font-weight: 600;
  color: #313469;
}

.btn-grad > ion-icon{
  background: #d0d1d4;
  padding: 10px;
  border-radius: 50%;
}

ion-input, ion-textarea, ion-select{
  --background: linear-gradient(to right, #eae8ea 0%, rgb(255, 255, 255) 100%);
  background: linear-gradient(to right, #eae8ea 0%, rgb(255, 255, 255) 100%);
  margin: 0 0 15px;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}


.submitBtn{
  position: fixed;
  left: 0;
  bottom: 40px;
  right: 0;
  width: 200px;
  margin: 0 auto;
}
