<app-header></app-header>
<ion-content>
  <div class="ion-text-center"  *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>

  </div>
<ion-grid>

  <ion-card class="transparent-card"  *ngIf="!isLoading ">
    <ion-card-header>
         <h2>Invoice</h2>
    </ion-card-header>
    <ion-card-content>
      <form #form="ngForm" (ngSubmit)="onSubmit(form)" enctype="multipart/form-data">
        <ion-row>
            <ion-col size="12" class="ion-no-padding">
              <ion-select ngModel name="tender">
                <ion-select-option value="">Select Tender</ion-select-option>
                <ion-select-option *ngFor="let tender of tenders" [value]="tender.id">{{tender.name}}</ion-select-option>
              </ion-select>  </ion-col>
          </ion-row>


<ion-row>
  <ion-col size="12" >

    <ion-fab vertical="bottom" horizontal="end">
      <input
      type="file"
      #fileInput
      (change)="uploadFile($event)"
      hidden="true"
      accept="image/*"
    />
      <ion-button (click)="selectImageSource('invoice')">Upload      </ion-button>

      <ion-icon name="attach-outline" slot="primary"></ion-icon>
    </ion-fab>
  </ion-col>
</ion-row>
        <ion-button type="submit" class="ion-text-center">Submit</ion-button>

      </form>

    </ion-card-content>
  </ion-card>



</ion-grid>


<ion-grid class="ion-no-padding"  *ngIf="!isLoading && invoices.length > 0">

  <ion-card class="transparent-card">
    <ion-card-content>
      <ion-row>
        <ion-col size="6" size-sm="6">


          <h1>My Invoices</h1>


    </ion-col>

    </ion-row>
    </ion-card-content>
  </ion-card>


  <ion-card class="btn-grad"  *ngFor="let item of invoices" >

    <ion-card-content>
      <ion-row>
        <ion-col size="12" size-sm="12" >
              <h2>{{item.created_at}}</h2>

        </ion-col>
        <ion-col size="12" size-sm="12" >
          <h2>{{item.name}}</h2>

    </ion-col>

        <ion-col size="12">
          <h3><strong>Status: </strong>{{item.status}}</h3>

        </ion-col>
      </ion-row>


    </ion-card-content>
  </ion-card>
</ion-grid>

</ion-content>


<app-footer></app-footer>
