<ion-header>
  <ion-toolbar>
    <ion-thumbnail slot="start" class="header-icons">
      <ion-img src="../../assets/01-04.png"></ion-img>
    </ion-thumbnail>
      <ion-img src="../../assets/images/logo.jpg" class="header-logo"></ion-img>
    <ion-thumbnail slot="primary" class="header-icons">
      <ion-img src="../../assets/search-icon.png"></ion-img>
    </ion-thumbnail>

    <ion-thumbnail slot="primary" class="header-icons">
      <ion-img src="../../assets/bellicon.png"></ion-img>
    </ion-thumbnail>
    <ion-thumbnail slot="primary" class="header-icons">
      <ion-img src="../../assets/01-02.png"></ion-img>
    </ion-thumbnail>
    <ion-button slot="primary" class="drawer-menu">
      <ion-menu-button >
        <img src="../../assets/01-03.png" >
      </ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-grid>
  <ion-card class="transparent-card">
    <ion-card-header>            <h2>Invoice</h2>
    </ion-card-header>
    <ion-card-content>

      <ion-button type="submit" class="ion-text-center">Upload Doc</ion-button>
    </ion-card-content>
  </ion-card>



</ion-grid>

</ion-content>


<ion-footer>
  <ion-button expand="full" class="footer-link">Call Us For Assistance</ion-button>
</ion-footer>
