.transparent-card{
  background: transparent;
  box-shadow: none;
}

.transparent-card h2{
  font-size: 20px;
  font-weight: 600;
  color: #313469;

}

ion-label{
  font-weight: bold;
}
ion-col{
  padding-bottom: 10px;
}
